@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer base {
  * {
    /* font-family: 'Poppins', sans-serif; */
    font-family: "Rubik", sans-serif;
  }
  html {
    scroll-behavior: smooth;
  }
  #root {
    @apply flex flex-col items-center w-full;
  }
}

@layer components {
  .max-width {
    @apply max-w-[1440px];
  }
  .input-auth {
    @apply h-14 md:h-[75px] border border-black rounded-2xl px-3 md:px-6;
  }

  .input-line[type="text"]:focus {
    @apply border-none;
    outline-style: none;
    margin-bottom: -3px;
    border-bottom: 3px solid #6a4029;
  }

  .input input,
  .input textarea {
    @apply border-none text-greydark;
    outline-style: none;
    margin-bottom: -2px;
    border-bottom: 2px solid black;
  }
  .input input:focus,
  .input textarea:focus {
    @apply text-black border-b-2 border-primary;
  }

  .input-data-radio span {
    @apply h-6 w-6 rounded-full border-4 border-solid border-secondary relative;
  }
  .input-data-radio span::after {
    @apply h-4 w-4 rounded-full bg-primary block relative left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 scale-0;
    content: "";
  }
  .input-data-radio input[type="radio"]:checked ~ span::after {
    @apply scale-100;
  }
  .input-data-radio input[type="radio"]:checked ~ label {
    @apply font-bold text-secondary;
  }

  .choose-size input,
  .delivery-method input {
    @apply hidden;
  }
  .choose-size {
    @apply flex relative w-14 h-14 md:w-[70px] md:h-[70px] rounded-full bg-primary font-bold text-xl md:text-3xl;
  }
  .choose-size span {
    @apply absolute w-14 h-14 md:w-[70px] md:h-[70px] rounded-full border-8 border-secondary top-0 left-0;
    transform: scale(0);
    transition: 0.15s linear;
  }
  .choose-size input[type="radio"]:checked + span {
    @apply scale-100;
  }

  .delivery-method {
    @apply px-3 md:px-6 py-3 text-grey bg-[#ffffff60] border border-[#bababa60] rounded-xl relative overflow-hidden cursor-pointer text-xs md:text-base text-center;
  }
  .delivery-method span {
    @apply absolute w-full h-0 top-0 left-0 bg-secondary;
    transition: 0.1s linear;
  }
  .delivery-method input[type="radio"]:checked + span {
    @apply h-full;
  }
  .delivery-method input[type="radio"]:checked ~ h5 {
    @apply text-white font-bold relative;
  }

  .nav-search {
    @apply cursor-pointer w-auto flex relative;
    transition: 0.1s linear;
  }
  .nav-search-active {
    @apply w-44 h-9 bg-[#EFEEEE] rounded-3xl;
  }
  .nav-search img {
    @apply ml-2;
  }
  .nav-search input {
    @apply w-full h-8 pl-2 pr-3 bg-transparent;
  }

  .navbar {
    @apply absolute top-32 w-full md:w-auto pr-10 md:pr-0 py-5 md:py-0 md:static flex flex-col md:flex-row bg-white md:bg-transparent items-end md:items-center justify-center gap-6 md:gap-10 border-b md:border-b-0 border-grey shadow-2xl shadow-slate-500 md:shadow-none;
    transition: 0.2s linear;
  }
  .account {
    @apply absolute top-14 py-5 md:py-0 w-full md:w-auto md:ml-auto md:static flex justify-center items-center border-b md:border-b-0 border-grey bg-white md:bg-transparent gap-10;
    transition: 0.2s linear;
  }
  .navlink {
    @apply text-greydark cursor-pointer;
  }
  .navlink::after {
    content: "";
    display: block;
    border-bottom: 2px solid #6a4029;
    transform: scale(0);
    transition: 0.15s linear;
  }
  .navlink:hover {
    @apply text-secondary;
  }
  .navlink:hover::after {
    transform: scale(100%);
  }
  .nav-active {
    @apply text-secondary font-bold;
  }
  .toggle-menu {
    @apply btn flex w-56 md:hidden text-lg font-bold justify-center items-center self-center mt-5 p-2 gap-2 border-2 rounded-2xl cursor-pointer;
  }
  .nav-menu {
    @apply absolute self-center md:self-auto md:h-20 w-56 md:w-full md:static flex flex-col md:flex-row justify-start items-start md:items-center gap-4 md:gap-[14%] pl-8 py-5 md:p-0 md:ml-[5%];
  }
  .nav-menu li {
    @apply text-sm text-greydark;
  }
  .nav-menu .menu-active {
    @apply font-bold text-secondary border-b-2 border-secondary;
  }

  .btn {
    @apply relative overflow-hidden flex items-center justify-center font-bold cursor-pointer;
  }

  .btn::after {
    @apply absolute w-full h-full;
    content: "";
    display: block;
    background-color: #ffffff40;
    transform: scaleX(0);
    transition: 0.15s linear;
  }

  .btn:hover::after {
    transform: scaleX(100%);
  }

  .hero,
  .hero-auth {
    background-size: cover;
    background-position: center;
  }
  .hero {
    background-image: url(../assets/banner-home.jpeg.webp);
    background-size: cover;
    background-position: center;
  }
  .hero-auth {
    background-image: url(../assets/banner.jpeg.webp);
  }
  .hero-profile {
    background-image: url(../assets/banner-profile.jpeg.webp);
    background-size: cover;
    background-position: center;
  }
  .hero-history {
    background-image: url(../assets/history.webp);
    background-size: cover;
    background-position: center;
  }
  .hero-transaction {
    background-image: url(../assets/banner-transactions.webp);
    background-size: cover;
    background-position: center;
  }
  .hero-forgot {
    background-image: url(../assets/banner-forgot-pwd.jpeg.webp);
    background-size: cover;
    background-position: center;
  }

  .card-fav > *:first-child {
    grid-row: span 2;
    align-self: center;
    justify-self: center;
  }
  .card-fav ul {
    list-style: url(../assets/icon/checked.svg) inside;
  }
  .card-fav:hover {
    @apply border-secondary shadow-sm shadow-secondary;
  }
  .card-fav a:hover {
    @apply bg-primary shadow shadow-current;
  }

  .our-partner-img img {
    filter: grayscale(100%);
    opacity: 0.2;
    transition: 0.15s linear;
  }
  .our-partner-img img:hover {
    filter: grayscale(0);
    opacity: 1;
  }
  .our-partner-img:last-child {
    grid-column: span 2;
  }

  .card-comment:hover {
    @apply border-secondary shadow-sm shadow-secondary;
  }

  .page-dot {
    @apply w-4 h-4 rounded-full bg-grey cursor-pointer;
    transition: 0.15s linear;
  }
  .page-dot:hover,
  .page-dot-active {
    @apply w-11 bg-secondary;
  }
  .page-arrow {
    @apply flex w-10 h-10 md:w-14 md:h-14 rounded-full border-2 border-secondary transition-colors cursor-pointer justify-center items-center text-secondary;
    transition-duration: 0.5s;
  }
  .page-arrow:hover {
    @apply bg-secondary text-white;
  }

  .qty-card > *:last-child {
    grid-column: span 2;
    justify-self: center;
  }

  .count-down {
    /* text-shadow: #fc0 4px 0 10px; */
    text-shadow: rgb(10, 8, 0) 4px 0 10px;
  }
  .loading {
    @apply flex gap-5;
  }
  .loading span {
    @apply w-8 h-8 rounded-full bg-primary border-4 border-secondary;
    animation: loader 1.5s ease-in-out infinite;
  }
  @keyframes loader {
    0%,
    100% {
      opacity: 0;
      transform: scale(0);
    }
    35%,
    65% {
      opacity: 1;
      transform: scale(1);
    }
  }
  .loading span:last-child {
    animation-delay: 0.6s;
  }
  .loading span:nth-child(2) {
    animation-delay: 0.4s;
  }
  .loading span:first-child {
    animation-delay: 0.2s;
  }

  .card-promos {
    @apply absolute w-[284px] h-[472px] px-4 py-7 flex flex-col rounded-2xl justify-between items-center bg-[#FFCB65];
  }
  .card-promos:first-child {
    @apply relative z-[6] bg-[#FFCB65];
  }
  .card-promos:nth-child(2) {
    @apply absolute top-[1%] right-[-16%] z-[5] bg-black scale-90;
  }
  .card-promos:last-child {
    @apply absolute top-[2%] right-[-30%] z-[4] bg-secondaryhover scale-[0.8];
  }
}
